.department{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    padding: 1rem ;
    
  
}
.heading{
    color: #000;
    font-size:3rem;
    font-weight:bold;
    
}
.main{
    margin-top: 4rem;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

   }
.card{
background:#E1F0FF;
padding: 1rem;
border-radius: 0.5rem;
display: flex;
flex-direction: column;
align-items:center;
justify-content: space-between;

}
.img{
    margin-top:-5rem;
}
.img2{
    margin-top:-5rem;
}
.sub_heading{
    color: #000;
    font-size:1.4rem;
    color: #21658C;
    font-weight: bold;
}
.leadership{
    text-align: center;
}
.bg{
    background-color: #3A8CBB;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    margin: 6rem;
    margin-top: 8rem;
  }
  .incontent{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.name{
 color: white;
 font-size: larger;
 
}
.designation{
    color: white;
    font-size: large;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
@media (max-width:768px){
    .main{
        display: flex;
        flex-direction: column;
       
    }
    .card{
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left:4rem;
        margin-right:4rem;
       
    }
    .sub_heading{
        font-size: 1.7rem;
    }
    .bg{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        padding: 2rem;
        margin: 2rem;
    }
    .img2{
        margin-top: 0;
     }
     
}
@media (max-width:480px){
    .card{
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left:1rem;
        margin-right:1rem;
 }
 .heading{
    text-align: center;
 }
 .bg{
    display: flex;
    flex-direction: column;
    margin:1.5rem;
    margin-top: 8rem;
    align-items: center;
    padding: 2rem;
 }
 .img2{
    margin-top: 0;
 }
}